@{
    ViewBag.Title = "Home Page";
}
  
<div class="lessons" style="margin:10px;">
    
    @(Html.Kendo().Grid<ScheduleOfFaculty.Models.LessonGrid>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Time);
            columns.Bound(c => c.Type);
           
        })               
        .Sortable()
        .Pageable()
        .Scrollable()
        .ClientDetailTemplateId("template")
        .HtmlAttributes(new { style = "height:430px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(6)
            .Read(read => read.Action("LessonGrid", "Home"))            
        )        
        .Events(events => events.DataBound("dataBound"))
       
)
<script id="template" type="text/kendo-tmpl">
    
    @(Html.Kendo().Grid<ScheduleOfFaculty.Models.LecturerGrid>()
            .Name("grid_#=Id#")
            .Columns(columns =>
            {
                columns.Bound(o => o.Id).Width(70);
                columns.Bound(o => o.Name).Width(70);
                columns.Bound(o => o.Surname).Width(110);
                columns.Bound(o => o.Qualification);
                columns.Bound(o => o.Birthday);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                .Read(read => read.Action("LecturerGrid", "Home", new { employeeID = "#=Id#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>

</div>

