@{
    ViewBag.Title = "Գլխավոր";
    int count = 0;    
}
  
<div class="lessons" style="margin:10px;">
 @(Html.Kendo().Grid<ScheduleOfFaculty.Models.LessonLecturerGrid>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.ForeignKey(p => p.Lect.Id, (System.Collections.IEnumerable)ViewData["lecturer"], "Id", "Name")
               .Title("Դասախոս");
        columns.ForeignKey(p => p.Less.Id, (System.Collections.IEnumerable)ViewData["lesson"], "Id", "Name")
               .Title("Առարկա");
        columns.ForeignKey(p => p.LessonType.Id, (System.Collections.IEnumerable)ViewData["lessonType"], "Id", "Name")
               .Title("Տեսակ");
        columns.Bound(p => p.Time).Title("Ժամ");
        columns.Command(command => command.Destroy().Text("Ջնջել")).Width(90);
    })
    .ToolBar(toolBar =>
        {
            toolBar.Create().Text("Ավելացնել");
            toolBar.Save().Text("Հիշել");
        })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.Id);
            model.Field(p => p.Less).DefaultValue(
                ViewData["defaultLesson"] as ScheduleOfFaculty.Models.LessonGrid);
            model.Field(p => p.Lect).DefaultValue(
                ViewData["defaultLecturer"] as ScheduleOfFaculty.Models.LecturerGrid);
            model.Field(p => p.LessonType).DefaultValue(
                ViewData["defaultLessonType"] as ScheduleOfFaculty.Models.TypeGrid);
        })
        .PageSize(20)
        .Read(read => read.Action("Read", "Home"))
        .Create(create => create.Action("Create", "Home"))
        .Update(update => update.Action("Update", "Home"))        
        .Destroy(destroy => destroy.Action("Destroy", "Home"))
    )
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

</div>

