@{
    ViewBag.Title = "Դասախոսներ";
}
  
<div class="lessons" style="margin:10px;">
 @(Html.Kendo().Grid<ScheduleOfFaculty.Models.Lecturer>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name).Title("Ազգանուն Ա.Հ");
        columns.Bound(p => p.Qualification).Title("Որակավորում");
        columns.Command(command => command.Destroy()).Width(190).Title("Ջնջել");
    })
    .ToolBar(toolBar =>
        {
            toolBar.Create().Text("Ավելացնել");
            toolBar.Save().Text("Հիշել");
        })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .PageSize(20)
        .Read(read => read.Action("Read", "Lecturer"))
        .Create(create => create.Action("Create", "Lecturer"))
        .Update(update => update.Action("Update", "Lecturer"))        
        .Destroy(destroy => destroy.Action("Destroy", "Lecturer"))
    )
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

</div>

