@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Schedule Of The Faculty</title>
        <link href="~/Content/custom/style.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/modernizr.custom.63321.js"></script>
        
        <!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
        
		<style>
			body {
				background: #e1c192 url(../../Images/custom/wood_pattern.jpg);
                overflow:hidden;
			}
		</style>
    </head>
    <body>
        <div class="container">
		
			<header>
			
				<h1><strong>Schedule of  The Faculty</strong></h1>
				<h2><strong>Log in Page</strong></h2>
				<div class="support-note">
					<span class="note-ie">Sorry, only modern browsers.</span>
				</div>
				
			</header>
            
			<section class="main">
				<form class="form-2">
					<h1><span class="log-in">Log in</span> or <span class="sign-up">sign up</span></h1>
					<p class="float">
						<label for="login"><i class="icon-user"></i>Username</label>
						<input type="text" name="login" id="userName" placeholder="Username or email">
					</p>
					<p class="float">
						<label for="password"><i class="icon-lock"></i>Password</label>
						<input type="password" id="password" name="password" placeholder="Password" class="showpassword">
					</p>
					<p class="clearfix"> 
                        <a href="#" class="log-twitter">Sign Up</a>    
						<input type="submit" name="submit" value="Log In" id="LogIn">
					</p>
				</form>​​
			</section>
			
        </div>
		<!-- jQuery if needed -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">




		    $(function () {
		        $(".showpassword").each(function (index, input) {
		            var $input = $(input);
		            $("<p class='opt'/>").append(
			            $("<input type='checkbox' class='showpasswordcheckbox' id='showPassword' />").click(function () {
			                var change = $(this).is(":checked") ? "text" : "password";
			                var rep = $("<input placeholder='Password' type='" + change + "' />")
			                    .attr("id", $input.attr("id"))
			                    .attr("name", $input.attr("name"))
			                    .attr('class', $input.attr('class'))
			                    .val($input.val())
			                    .insertBefore($input);
			                $input.remove();
			                $input = rep;
			            })
			        ).append($("<label for='showPassword'/>").text("Show password")).insertAfter($input.parent());
		        });

		        $('#showPassword').click(function () {
		            if ($("#showPassword").is(":checked")) {
		                $('.icon-lock').addClass('icon-unlock');
		                $('.icon-unlock').removeClass('icon-lock');
		            } else {
		                $('.icon-unlock').addClass('icon-lock');
		                $('.icon-lock').removeClass('icon-unlock');
		            }
		        });
		    });
		    
		    $('#LogIn').click(function (e) {
		        e.preventDefault();
		        console.log("first");
		        var values = {
		            UserName: $('#userName').val(),
		            Password: $('#password').val()
		        }

		        $.ajax({
		            url: '/Account/Login',
		            type: 'POST',
		            data: JSON.stringify(values),
		            contentType: 'application/json; charset=utf-8',
		            success: function (data) {
		                alert(data);
		            },
		            
		        });

		    });
		</script>
    </body>
</html>
